.profile {
    height: 100vh;
    padding-top: 74px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__container {
    height: 100%;
    padding: 77px 70px 70px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .profile__container {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .profile__container {
        width: 100%;
        padding: 56px 30px 30px;
        align-items: center;
        justify-content: flex-start;
    }
}

.profile__greeting {
    margin: 0 0 103px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .profile__greeting {
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 480px) {
    .profile__greeting {
        margin-bottom: 80px;
    }
}

.profile__form {
    width: 410px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .profile__form {
        width: 100%;
        max-width: 410px;
    }
}

.profile__inputs {
    width: 100%;
    margin: 0 0 50px;
    padding: 0;
    border: none;
}

.profile__input-wrapper {
    width: 100%;
    padding: 16px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

.profile__input-wrapper:last-of-type {
    border-bottom: none;
}

.profile__label {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    color: #000;
}

.profile__input {
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #000;
    text-align: right;
    transition: color .3s;
}

.profile__input_type_error {
    color: #FF4062;
}

.profile__input_type_error::placeholder {
    color: #FF4062;
}

.profile__input:focus {
    outline: none;
    font-weight: 500;
}

.profile__input::placeholder {
    color: #A0A0A0;
}

.profile__buttons-wrapper {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .profile__buttons-wrapper {
        margin-top: 210px;
    }
}

@media screen and (max-width: 480px) {
    .profile__buttons-wrapper {
        margin-top: auto;
    }
}

.profile__text-button {
    padding: 0;
    margin-bottom: 16px;
    background: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    cursor: pointer;
    transition: opacity .3s;
}

@media screen and (max-width: 480px) {
    .profile__text-button {
        font-size: 12px;
        line-height: 15px;
    }
}

.profile__text-button:last-of-type {
    margin-bottom: 0;
}

.profile__text-button_type_signout {
    color: #FF4062;
}

.profile__error {
    margin: 0 0 20px;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: #FF4062;
    text-align: center;
}

.profile__submit-button {
    width: 100%;
    padding: 13px 15px 15px;
    border-radius: 3px;
    border: none;
    background-color: #FF4062;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

@media (hover:hover) {
    .profile__submit-button:hover,
    .profile__text-button:hover {
        opacity: .8;
    }
}

@media screen and (max-width: 480px) {
    .profile__submit-button {
        margin-top: auto;
        font-size: 12px;
        line-height: 14px;
    }
}

.profile__submit-button_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
    pointer-events: none;
}