.filter {
    margin: 0;
    padding: 26px 0 44px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #AAAAAA;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .filter {
        padding: 27px 0 52px;
    }
}

@media screen and (max-width: 576px) {
    .filter {
        padding: 31px 0 64px;
    }
}

.filter__checkbox {
	width: 36px;
	height: 20px;
    margin-right: 14px;
	position: relative;
	z-index: 0;
}

@media screen and (max-width: 576px) {
    .filter__checkbox {
        margin-right: 13px;
    }
}

.filter__checkbox::before {
	width: 100%;
	height: 100%;
	content: '';
	border-radius: 20px;
	background-color: #EBEBEB;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

.filter__checkbox::after {
	width: 15px;
    height: 15px;
    content: '';
    border-radius: 50%;
    background-color: #F5F5F5;
    border: 1px solid #fff;
    transition: all .3s;
    position: absolute;
    left: 2px;
    top: 2px;
	z-index: 1;
}

.filter__checkbox:checked::after {
	background-color: #2BE080;
	transform: translateX(15px);
}

.filter__label {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 576px) {
    .filter__label {
        font-size: 11px;
        line-height: 18px;
    }
}