.promo {
    padding-top: 74px;
    background-color: #F3C1F8;
}

.promo__container {
    max-width: 1280px;
    padding: 75px 70px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .promo__container {
        padding: 140px 44px 75px;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .promo__container {
        padding: 70px 10px 30px;
    }
}

.promo__text-wrapper {
    margin-right: 50px;
}

@media screen and (max-width: 992px) {
    .promo__text-wrapper {
        margin-right: 0;
        margin-top: 48px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .promo__text-wrapper {
        margin-top: 44px;
    }
}

.promo__title {
    max-width: 640px;
    margin: 0 0 36px;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    color: #000;
}

@media screen and (max-width: 992px) {
    .promo__title {
        max-width: 720px;
        margin: 0 auto 36px;
    }
}

@media screen and (max-width: 768px) {
    .promo__title {
        margin-bottom: 22px;
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 480px) {
    .promo__title {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -0.04em;
    }
}

.promo__description {
    max-width: 310px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #000;
}

@media screen and (max-width: 992px) {
    .promo__description {
        max-width: 260px;
        margin: 0 auto;
    }
}

.promo__image {
    max-width: 310px;
    transition: transform 5s linear;
}

@media (hover:hover) {
    .promo__image:hover {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    .promo__image {
        max-width: 210px;
    }
}